html {
  background-color: #223;
  color: #fff;
  font-family: monospace;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

nav {
  display: grid;
  height: 100%;
  grid-template-columns: 75vw 100vw 75vw;
  grid-template-rows: 1;
  overflow: auto;
  contain: content;

  scroll-snap-type: x mandatory;
}

nav > div {
  background-color: #669;
  display: flex;
  align-items: center;
  justify-content: center;

  scroll-snap-align: center;
}

nav > div:nth-child(even) {
  background-color: #557;
}

.mid {
  scroll-snap-stop: always;

  overflow: auto;
  white-space: pre-line;
  height: 100%;

  flex-wrap: wrap;
}

.mid > div {
  padding: 1rem;
}

@media (min-width: 1050px) {
  nav {
    grid-template-columns: 350px auto 350px;
  }
}

@supports (animation-timeline: works) {
  @keyframes block-slide-in {
    from {
      bottom: 0;
    }
    to {
      bottom: calc(0px - var(--height));
    }
  }

  @scroll-timeline block-slide-in-timeline {
    source: selector(#nav);
    orientation: horizontal;
    
    /* apparently deprecated, but I can't find where */
    start: selector(#lhs) end 0;
    end: selector(#lhs) start 0;

    /* chrome doesn't recongnize so we use the deprecated method above */
    scroll-offsets:
      selector(#lhs) end 0,
      selector(#lhs) start 0;

    time-range: 1s;
  }

  .bottom {
    animation: 1s linear forwards block-slide-in;
    animation-timeline: block-slide-in-timeline;
  }
}

.bottom {
  --height: 5rem;

  position: absolute;
  inline-size: 100%;
  block-size: var(--height);

  bottom: calc(0px - var(--height));
  
  display: flex;
  place-content: center;
  place-items: center;
    
  background-color: #334;
  
  box-sizing: border-box;
}